@model WorkgroupViewModel

@{
	ViewBag.Title = "Create Workgroup";
    ViewBag.NavigationKey = "Admin";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index")</li>
	</ul>
}

@Html.Partial("_Workgroup")
