<connectionStrings>
  <add name="MainDB" connectionString="Data Source=donbot;Initial Catalog=dogbert;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="CATBERT" connectionString="Data Source=donbot;Initial Catalog=Catbert3;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="RATBERT" connectionString="Data Source=donbot;Initial Catalog=RATBERT;Integrated Security=True" providerName="System.Data.SqlClient"/>
</connectionStrings>