@model ProjectViewModel


@{
    ViewBag.Title = "Edit Project";
    ViewBag.HideWorkgroup = true;
}

@section SubNav
{
    <ul class="navigation">
        <li>@Html.ActionLink("Workgroups", "Index", "ProjectWorkgroup", new { Id=Model.Project.Id }, new { })</li>
        <li>Requirement Categories</li>
        <li>Actors</li>
    </ul>
}

@Html.Partial("_Project")
