@model ProjectViewModel


@{
    ViewBag.Title = "Edit Project";
    ViewBag.HideWorkgroup = true;
    ViewBag.NavigationKey = "Project";
}

@section SubNav
{
    <ul class="navigation">
        <li>@Html.ActionLink("Details", "Details", new {Id=Model.Project.Id})</li>
        <li>@Html.ActionLink("Workgroups", "Index", "ProjectWorkgroup", new { Id=Model.Project.Id }, new { })</li>
        <li>@Html.ActionLink("Requirement Categories", "Index", "RequirementCategory", new { Id = Model.Project.Id }, new { })</li>
        <li>Actors</li>
    </ul>
}

@Html.Partial("_Project")
