@model IEnumerable<Dogbert2.Core.Domain.UseCase>

@{
	ViewBag.Title = "Use Cases";
}

@section SubNav
{
	<ul class='navigation'>
		<li>@Html.ActionLink("Create New", "Create", new { ProjectId = ViewBag.ProjectId })</li>
	</ul>
}

@foreach (var cat in Model.Select(a => a.RequirementCategory).Distinct())
{
    
    <section class="usecase-section">
    
        <header>@cat.Name</header>

        @foreach(var uc in Model.Where(a => a.RequirementCategory == cat))
        {
            @Html.Partial("_UseCaseDisplay", uc)
        }
    
    </section>
    
}