@model ProjectTermViewModel

@{
	ViewBag.Title = "Create Project Term";
    ViewBag.NavigationKey = "Project";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index", new { id = Model.ProjectTerm.Project.Id })</li>
	</ul>
}

@Html.Partial("_ProjectTerm")