@model IEnumerable<Dogbert2.Core.Domain.File>

<aside id="tokens">
    <ul>

        @foreach (var a in Model)
        { 
            <li><a href="javascript:;" class="token" data-value="{Image-@a.Id}">@a.Title</a></li>
        }

    </ul>
</aside>

<style type="text/css">
#tokens
{
    background-color: #F4F4F4;
    border: 1px solid #666666;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: inline-block;
    float:right;
    line-height: normal;
    margin-left: 10px;
    width: 200px;
    min-height: 2em;
}
    
#tokens ul
{
    margin: 10px;
}
</style>