@model ProjectTextViewModel

@{
	ViewBag.Title = "Project Text";
    ViewBag.NavigationKey = "Project";
}

@section SubNav
{
	<ul class="navigation">
		<li>@Html.ActionLink("Back to List", "Index", new { id=Model.ProjectText.Project.Id })</li>
	</ul>
}

@section AdditionalScripts
{
    @Html.Partial("_ProjectTextScripts")
}

@Html.Partial("_ProjectText")