@{
    ViewBag.Title = "Admin";
    ViewBag.NavigationKey = "Admin";
}

<ul>
    <li>@Html.ActionLink("Access Request", "Index", "AccessRequest")</li>
    <li>@Html.ActionLink("Workers", "Index", "Worker")</li>
    <li>@Html.ActionLink("Workgroups", "Index", "Workgroup")</li>
    <li>@Html.ActionLink("Section Types", "Index", "SectionType")</li>
</ul>